html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to bottom right, rgba(35, 80, 4, 0.918), rgba(5, 66, 33, 0.829));
    color: white;
    background-blend-mode: multiply;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

/* Header */
header{
    height: 20vh;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: 50px;
}

header a.logo{
    background-image: url("img/MunchDevLogo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -99999999px;
    top: -15px;
    width: 111px;
    left: -10px;
}

/* Navigation */

nav li{
    margin-right: 20px;
    float: right;
    position: relative;
    right: 20px;
}

nav li:first-child{
    float: left;
    right: 0px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li a.home{
    order: 1;
}

header a:hover{
    color: rgba(19, 121, 161, 0.918);
}

/* above Iphone 5 to desktop Home move down */
@media screen and (min-width: 416px){
    br.mobile{
        display: none;
    }
    br.mobile2{
        display: none;
    }
    br.mobile3{
        display: none;
    }
    br.desktop{
        display: none;
    }
}

@media screen and (max-width: 415px){
    br.mobile{
        display: initial;
    }
    br.mobile2{
        display: initial;
    }
    br.mobile3{
        display: none;
    }
    header a{
        top: -10px;
    }
    br.desktop{
        display: none;
    }
}

/* Iphone 5 Home move down */

@media screen and (max-width: 325px){
    br.mobile{
        display: initial;
    }
    br.mobile2{
        display: none;
    }
    br.mobile3{
        display: initial;
    }
    br.desktop{
        display: none;
    }
}

/* Welcome */
section.welcome{
    text-align: center;
    font-size: 50px;
    height: 70vh;
    font-family: 'Merriweather', serif;
    animation: welcomeTransitionIn 1.5s;
}

img.avatarImg {
    width: 30%;
    height: 75%;
    border: 3px solid purple;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

img.avatarImg:hover{
    /*transform: skew(10deg, -2deg);*/
    transform: rotate3d(1, 1, 0, 30deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

/*https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp*/
@keyframes welcomeTransitionIn {
    from {
        opacity: 0;
        transform: translateY(75%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* About Me */
section.aboutme{
    margin: 20px;
    text-align: center;
    font-size: 40px;
    height: 82vh;
}

section.aboutme p{
    font-size: 25px;
}

a.button{
    font-size: 35px;
    color: rgb(31, 28, 28);
    background-color: rgb(202, 105, 14);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid rgb(131, 66, 6);
}

a.button:hover{
    color: rgb(61, 44, 44);
}

a.button-thin{
    font-size: 30px;
    color: rgb(31, 28, 28);
    background-color: rgb(202, 105, 14);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 5px;
    border: 2px solid rgb(131, 66, 6);
}

a.button-thin:hover{
    color: rgb(61, 44, 44);
}

/* Contact Me */
section.contact{
    text-align: center;
    font-size: 50px;
    animation: welcomeTransitionIn 0.75s;
}

section.contact p{
    font-size: 25px;
    padding: 0px 10px 0px 10px;
}

.contactPics{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: welcomeTransitionIn 1.5s;
}

.contactPics figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase ;
    width: 200px;
}

.contactPics figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    height: 200px;
    width: 200px;
}

.contactPics figcaption{
    font-size: 30px;
}

/* Projects */
section.welcomeprojects{
    text-align: center;
    font-size: 70px;
    height: 70vh;
    padding-top: 10vh;
    animation: welcomeTransitionIn 1.5s;
}

section.projects{
    text-align: center;
    font-size: 50px;
}

section.projects p{
    font-size: 25px;
    padding: 0px 10px 0px 10px;
}

.mcPlugins{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mcPlugins figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase ;
    width: 200px;
}

.mcPlugins figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    height: 200px;
    width: 200px;
}

.mcPlugins figcaption{
    font-size: 30px;
}

.discordBots figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase ;
    width: 200px;
    padding-bottom: 80px;
}

.discordBots figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    height: 200px;
    width: 200px;
}

.discordBots figcaption{
    font-size: 30px;
}

li.projectButtons{
    position: relative;
    bottom: 0px;
}

ul.projectButtons{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure img:hover {
    animation: projectImagesHover 1.5s;
}

@keyframes projectImagesHover {
    20% {
        
    }
}

/* above Iphone 5 to desktop */
@media screen and (min-width: 416px){
    section.welcomeprojects{
        text-align: center;
        font-size: 70px;
        height: 70vh;
        padding-top: 10vh;
        position: relative;
        bottom: 100px;
    }

    li.projectButtons{
        position: relative;
        bottom: -10px;
    }
    
    ul.projectButtons{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

@media screen and (max-width: 415px){
    section.welcomeprojects{
        text-align: center;
        font-size: 70px;
        height: 70vh;
        padding-top: 10vh;
        position: relative;
        bottom: 100px;
    }

    li.projectButtons{
        position: relative;
        bottom: -10px;
    }
    
    ul.projectButtons{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    img.avatarImg {
        width: 60%;
        height: 50%;
    }
}

/* Iphone 5 */

@media screen and (max-width: 325px){
    section.welcomeprojects{
        text-align: center;
        font-size: 70px;
        height: 70vh;
        padding-top: 10vh;
        position: relative;
        bottom: 100px;
    }

    li.projectButtons{
        position: relative;
        bottom: -10px;
    }
    
    ul.projectButtons{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    img.avatarImg {
        width: 70%;
        height: 50%;
    }
}

/* Responsive Scaling *Bigger* */
@media screen and (min-width: 410px) and (max-width: 900px){
    header{
        font-size: 25px;
    }

    header a.logo{
        background-size: 125px;
        width: 125px;
        height: 125px;
    }

    section.aboutme p{
        font-size: 35px;
    }

    section.aboutme h3{
        font-size: 60px;
    }

    section.contact p{
        font-size: 35px;
    }

    section.contact h3{
        font-size: 60px;
    }

    .contactPics figcaption{
        font-size: 25px;
    }

    section.projects p{
        font-size: 35px;
    }

    section.projects h3{
        font-size: 60px;
    }

    .mcPlugins figcaption{
        font-size: 25px;
    }

    br.desktop{
        display: none;
    }

    a.button-thin{
        margin: 0 30px;
    }

    section.welcomeprojects{
        text-align: center;
        font-size: 70px;
        height: 70vh;
        padding-top: 10vh;
    }

    li.projectButtons{
        position: relative;
        bottom: 0px;
    }
    
    ul.projectButtons{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    img.avatarImg {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 900px){
    header{
        font-size: 25px;
    }

    header a.logo{
        background-size: 150px;
        width: 150px;
        height: 150px;
    }

    section.aboutme p{
        font-size: 40px;
    }

    section.aboutme h3{
        font-size: 65px;
    }

    section.contact p{
        font-size: 35px;
    }

    section.contact h3{
        font-size: 60px;
    }

    .contactPics figcaption{
        font-size: 25px;
    }

    section.projects p{
        font-size: 35px;
    }

    section.projects h3{
        font-size: 60px;
    }

    .mcPlugins figcaption{
        font-size: 25px;
    }

    br.desktop{
        display: initial;
    }

    a.button-thin{
        margin: 0 50px;
    }

    section.welcomeprojects{
        text-align: center;
        font-size: 70px;
        height: 70vh;
        padding-top: 10vh;
    }

    li.projectButtons{
        position: relative;
        bottom: 0px;
    }
    
    ul.projectButtons{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

/* Footer */
footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}